*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.App {
    padding: 10px 25px 50px;
    width: 100%;
    min-height: 100vh;
    /*background: linear-gradient(to bottom, #68EAcc 0%, #497BE8 100%);*/
    background: #2f0f6e;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapperForm {
    width: 25%;
}
.border {
    width: 100%;
    height: 2px;
    background: #ccc;
    margin: 20px 0 25px;
}